In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
555,tt0225071,53000000,29700000,Angel Eyes,Jennifer Lopez|Jim Caviezel|Jeremy Sisto|Terre...,Luis Mandoki,"The deeper you look, the more you will find.",A story about a seemingly unlikely couple who ...,102,Drama|Romance|Thriller,Warner Bros. Pictures|Franchise Pictures|Morga...,5/15/2001,5.6,2001
890,tt0298130,48000000,249348933,The Ring,Naomi Watts|Martin Henderson|David Dorfman|Bri...,Gore Verbinski,"Before you die, you see.",It sounded like just another urban legend: A v...,115,Horror|Mystery|Thriller,DreamWorks SKG|BenderSpink|Parkes+MacDonald Im...,10/18/2002,6.4,2002
749,tt0978764,82000000,89792502,Sucker Punch,Emily Browning|Abbie Cornish|Jena Malone|Vanes...,Zack Snyder,You Will Be Unprepared.,A young girl is institutionalized by her abusi...,110,Action|Fantasy|Thriller,Legendary Pictures|Warner Bros.|Lennox House F...,3/24/2011,5.9,2011
148,tt1587310,180000000,758410378,Maleficent,Angelina Jolie|Elle Fanning|Juno Temple|Sharlt...,Robert Stromberg,Don't believe the fairy tale.,The untold story of Disney's most iconic villa...,97,Fantasy|Adventure|Action|Family|Romance,Walt Disney Pictures|Roth Films,5/28/2014,7.0,2014
1704,tt0462538,75000000,527068851,The Simpsons Movie,Dan Castellaneta|Julie Kavner|Nancy Cartwright...,David Silverman,See our family. And feel better about yours.,After Homer accidentally pollutes the town's w...,87,Animation|Comedy|Family,Gracie Films|Twentieth Century Fox Film Corpor...,7/25/2007,6.9,2007
1631,tt0315297,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harl...,2/27/2004,5.7,2004
661,tt0481536,12000000,43493123,Harold & Kumar Escape from Guantanamo Bay,John Cho|Kal Penn|Neil Patrick Harris|Rob Cord...,Jon Hurwitz|Hayden Schlossberg,This time they're running from the joint.,"Having satisfied their urge for White Castle, ...",107,Comedy|Adventure,New Line Cinema,4/25/2008,6.0,2008
1798,tt0499554,10000000,20342161,Reno 911!: Miami,Lennie Loftin|Danny DeVito|Ben Garant|Carlos A...,Ben Garant,"In a time of crisis, America will call Reno 911!",A rag-tag team of Reno cops are called in to s...,84,Action|Adventure|Comedy|Crime,20th Century Fox,2/23/2007,5.8,2007
445,tt1231587,36000000,64572262,Hot Tub Time Machine,John Cusack|Lizzy Caplan|Rob Corddry|Craig Rob...,Steve Pink,Kick some past,A malfunctioning time machine at a ski resort ...,101,Science Fiction|Comedy|Adventure,United Artists|Metro-Goldwyn-Mayer (MGM)|New C...,3/26/2010,5.9,2010
1464,tt0424095,149000000,64459316,Flushed Away,Hugh Jackman|Kate Winslet|Ian McKellen|Jean Re...,David Bowers|Sam Fell,Someone's Going Down,"London high-society mouse, Roddy is flushed do...",85,Adventure|Animation|Comedy|Family,Aardman Animations|DreamWorks Animation,10/22/2006,6.0,2006
1016,tt1673434,120000000,829000000,The Twilight Saga: Breaking Dawn - Part 2,Kristen Stewart|Robert Pattinson|Taylor Lautne...,Bill Condon,The epic finale that will live forever,"After the birth of Renesmee, the Cullens gathe...",115,Adventure|Fantasy|Drama|Romance,Summit Entertainment|Sunswept Entertainment|Te...,11/13/2012,6.1,2012
1676,tt0413300,258000000,890871626,Spider-Man 3,Tobey Maguire|Kirsten Dunst|James Franco|Thoma...,Sam Raimi,The battle within.,The seemingly invincible Spider-Man goes up ag...,139,Fantasy|Action|Adventure,Columbia Pictures|Laura Ziskin Productions|Mar...,5/1/2007,5.8,2007
1358,tt0416320,15000000,85306374,Match Point,Jonathan Rhys Meyers|Scarlett Johansson|Emily ...,Woody Allen,Passion Temptation Obsession,Match Point is Woody Allenâ€™s satire of the B...,124,Drama|Thriller|Crime|Romance,DreamWorks,5/12/2005,7.1,2005
1461,tt0414993,35000000,15304890,The Fountain,Hugh Jackman|Rachel Weisz|Ellen Burstyn|Mark M...,Darren Aronofsky,Death is the road to awe,"Spanning over one thousand years, and three pa...",96,Drama|Adventure|Science Fiction|Romance,Regency Enterprises|Warner Bros.|Muse Entertai...,9/6/2006,6.7,2006
589,tt0273799,12000000,17292381,Max Keeble's Big Move,Alex D. Linz|Zena Grey|Nora Dunn|Larry Miller|...,Tim Hill,His World. His Rules.,"Max Keeble, the victim of his 7th grade class,...",86,Comedy|Family|Fantasy|Science Fiction,Walt Disney Pictures|Karz Entertainment,10/5/2001,5.3,2001
956,tt0285462,20000000,8586376,Boat Trip,Cuba Gooding Jr.|Horatio Sanz|Roselyn SÃ¡nchez...,Mort Nathan,"... once you're on, you'll want to get off...","Two straight men mistakenly end up on a ""gays ...",94,Comedy,Motion Picture Corporation of America|Artisan ...,10/1/2002,4.5,2002
1596,tt0308644,25000000,116766556,Finding Neverland,Johnny Depp|Kate Winslet|Julie Christie|Dustin...,Marc Forster,Where will your imagination take you?,Finding Neverland is an amusing drama about ho...,106,Drama,Miramax Films|Film Colony,10/17/2004,7.1,2004
1881,tt0213790,24000000,13700000,The Ladies Man,Tim Meadows|Karyn Parsons|Billy Dee Williams|J...,Reginald Hudlin,He's cool. He's clean. He's a love machine.,"Because of his salacious language, late-night ...",84,Comedy,SNL Studios,10/13/2000,5.4,2000
891,tt0281358,11000000,41227069,A Walk to Remember,Mandy Moore|Shane West|Peter Coyote|Daryl Hann...,Adam Shankman,She didn't belong. She was misunderstood. And ...,"When the popular, restless Landon Carter is fo...",101,Drama|Family|Romance,Pandora Pictures|Warner Bros.,1/25/2002,7.3,2002
1735,tt0492956,22000000,147880543,The Game Plan,Dwayne Johnson|Madison Pettis|Kyra Sedgwick|Ro...,Andy Fickman,"Half his size, twice the trouble ... and she's...",NFL quarterback Joe Kingman was living the bac...,110,Comedy|Family,Walt Disney Pictures|Mayhem Pictures|Monkey Da...,9/28/2007,6.0,2007
936,tt0253556,60000000,43061982,Reign of Fire,Christian Bale|Matthew McConaughey|Izabella Sc...,Rob Bowman,Fight Fire With Fire,"In post-apocalyptic England, an American volun...",101,Action|Fantasy|Science Fiction|Thriller,The Zanuck Company|Spyglass Entertainment|Worl...,7/12/2002,5.9,2002
1537,tt0443632,60000000,77920346,The Sentinel,Michael Douglas|Kiefer Sutherland|Eva Longoria...,Clark Johnson,"In 141 years, there's never been a traitor in ...",A secret service agent is framed as the mole i...,108,Action|Thriller|Crime,Twentieth Century Fox Film Corporation|Dune En...,4/19/2006,5.6,2006
792,tt0448694,130000000,554987477,Puss in Boots,Antonio Banderas|Salma Hayek|Zach Galifianakis...,Chris Miller,Live for danger. Fight for justice. Pray for m...,"Long before he even met Shrek, the notorious f...",90,Action|Adventure|Animation|Family|Fantasy,DreamWorks,10/28/2011,6.9,2011
214,tt1430612,28000000,68896829,Brick Mansions,Paul Walker|David Belle|RZA|Robert Maillet|Car...,Camille Delamarre,Undercover and never Outgunned,"In a dystopian Detroit, grand houses that once...",90,Action|Crime|Drama,Canal+|EuropaCorp|CinÃ©+|D8,4/22/2014,5.8,2014
497,tt0241527,125000000,976475550,Harry Potter and the Philosopher's Stone,Daniel Radcliffe|Rupert Grint|Emma Watson|John...,Chris Columbus,Let the Magic Begin.,Harry Potter has lived under the stairs at his...,152,Adventure|Fantasy|Family,1492 Pictures|Warner Bros.|Heyday Films,11/16/2001,7.2,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [15]:
answers = {} # создадим словарь для ответов

# Add profit column
data['profit'] = data['revenue'] - data['budget']

# Normalize date column
data['release_date'] = pd.to_datetime(data['release_date'])

def counter(movie_bd, x):
    """Counter for concatenated values in columns
        movie_bd {DataFrame} - dataset
        x {String} - column name
    """
    data_plot = movie_bd[x].str.cat(sep='|')
    dat = pd.Series(data_plot.split('|'))
    info = dat.value_counts(ascending=False)
    return info

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
data = pd.read_csv('data.csv')
data[data['budget'] == data['budget'].max()]

answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
data[data['runtime'] == data['runtime'].max()]

answers['2'] = 'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
data[data['runtime'] == data['runtime'].min()]

answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [10]:
round(data['runtime'].mean())

answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [11]:
round(data['runtime'].median())

answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
data[data['profit'] == data['profit'].max()]

answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [17]:
data[data['profit'] == data['profit'].min()]

answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
len(data[data['profit'] > 0])

answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [19]:
data_2008 = data[data['release_year'] == 2008]
data_2008[data_2008['profit'] == data_2008['profit'].max()]

answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
data_2012_2014 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
data_2012_2014[data_2012_2014['profit'] == data_2012_2014['profit'].min()]

answers['10'] = 'The Lone Ranger'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [113]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

movie_genres_counter = {}

for i in range(len(data)):
    genres_list = data.loc[i]['genres'].split('|')
    
    for genre in genres_list:
        if genre in movie_genres_counter:
            movie_genres_counter[genre] += 1
        else:
            movie_genres_counter[genre] = 1
    

movie_genres_counter_sorted = sorted(movie_genres_counter.items(), key=lambda x: x[1], reverse=True)

movie_genres_counter_sorted[0]

answers['11'] = 'Drama'

('Drama', 782)

ВАРИАНТ 2

In [114]:
counter(data, 'genres')
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [118]:
data_profitable = data[data['profit'] > 0]
counter(data_profitable, 'genres')

answers['12'] = 'Drama'

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [133]:
Option 1.

director_revenue = {}

for i in range(len(data)):
    director_list = data.loc[i]['director'].split('|')
    revenue = data.loc[i]['revenue']
    
    for d in director_list:
        if d in director_revenue:
            director_revenue[d] += revenue
        else:
            director_revenue[d] = revenue
    

director_revenue_sorted = sorted(director_revenue.items(), key=lambda x: x[1], reverse=True)

director_revenue_sorted[0]

answers['13'] = 'Peter Jackson'

('Peter Jackson', 6490593685)

In [174]:
Option 2.

directors = data[['director', 'revenue']].copy()
directors['director'] = directors['director'].apply(lambda s: s.split('|'))
directors = directors.explode('director').groupby(by = 'director')

directors['revenue'].sum().sort_values(ascending = False)
answers['13'] = 'Peter Jackson'

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [144]:
action_movies = data[data.genres.str.contains("Action", na=False)]
directors = action_movies['director'].str.split('|',expand=True).stack().value_counts()

answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [178]:
movies_2012 = data[data['release_year'] == 2012][['cast', 'revenue']]
movies_2012['cast'] = movies_2012['cast'].apply(lambda s: s.split('|'))
movies_2012 = movies_2012.explode('cast').groupbyby = 'cast')

movies_2012['revenue'].sum().sort_values(ascending = False)

answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [181]:
high_budget_movies = data[data['budget'] > data['budget'].mean()]

counter(high_budget_movies, 'cast')
answers['16'] = 'Matt Damon'

Matt Damon          18
Adam Sandler        17
Angelina Jolie      16
Eddie Murphy        15
Tom Cruise          15
                    ..
Dan Castellaneta     1
Stuart Townsend      1
Christina Cox        1
Simon Baker          1
Youki Kudoh          1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [185]:
n_cage_movies = data[data['cast'].str.contains("Nicolas Cage", na=False)]

counter(n_cage_movies, 'genres')
answers['17'] = 'Action'

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
War                 1
Horror              1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [20]:
paramount_pictures_movies = data[data['production_companies'].str.contains("Paramount Pictures", na=False)]
paramount_pictures_movies[paramount_pictures_movies['profit'] == paramount_pictures_movies['profit'].min()]

answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [21]:
release_year_group = data.groupby(['release_year']).sum()
release_year_group[release_year_group['revenue'] == release_year_group['revenue'].max()]

answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [22]:
warner_bros_movies = data[data['production_companies'].str.contains("Warner Bros", na=False)]
warner_bros_movies_by_year = warner_bros_movies.groupby(['release_year']).sum()
warner_bros_movies_by_year[warner_bros_movies_by_year['profit'] == warner_bros_movies_by_year['profit'].max()]

answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
data['release_month'] = data['release_date'].dt.month
data['release_month'].value_counts()

answers['21'] = 'Сентябрь'

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [53]:
summer_range = range(6, 9)
data['release_month'].isin(summer_range).value_counts()

answers['22'] = '450'

False    1439
True      450
Name: release_month, dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [56]:
winter_movies = data[data['release_month'].isin([1,2,12])]
counter(winter_movies, 'director')

answers['23'] = 'Peter Jackson'

Peter Jackson                     7
Clint Eastwood                    6
Steven Soderbergh                 6
Nancy Meyers                      4
Adam Shankman                     4
                                 ..
Andrew Davis                      1
Ava DuVernay                      1
MÃ¥ns MÃ¥rlind                    1
Alejandro GonzÃ¡lez IÃ±Ã¡rritu    1
Mike McCoy                        1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [173]:
production_companies_titles = {}

production_companies = counter(data, 'production_companies').keys()
data['original_title_length'] = data['original_title'].apply(lambda x: len(x))

for company in production_companies:
    company_movies = data[data['production_companies'].str.contains(company, na=False)]
    mean_length = company_movies['original_title_length'].mean()
    
    if len(company_movies):
        production_companies_titles[company] = mean_length

production_companies_titles_sorted = sorted(production_companies_titles.items(), key=lambda x: x[1], reverse=True)
production_companies_titles_sorted[0]

data.drop( ['original_title_length'], axis = 1, inplace = True)

answers['24'] = 'Four By Two Productions'

/Users/rgalieva/opt/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

('Four By Two Productions', 83.0)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [174]:
production_companies_titles = {}

production_companies = counter(data, 'production_companies').keys()
data['overview_length'] = data['overview'].apply(lambda overview: len(overview.split()))

for company in production_companies:
    company_movies = data[data['production_companies'].str.contains(company, na=False)]
    mean_length = company_movies['overview_length'].mean()
    
    if len(company_movies):
        production_companies_titles[company] = mean_length

production_companies_titles_sorted = sorted(production_companies_titles.items(), key=lambda x: x[1], reverse=True)
production_companies_titles_sorted[0]

data.drop( ['overview_length'], axis = 1, inplace = True)

answers['25'] = 'Midnight Picture Show'

('Midnight Picture Show', 175.0)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [87]:
data[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']][['original_title']]

answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

                                     original_title
9                                        Inside Out
34                                             Room
118                                    Interstellar
119                         Guardians of the Galaxy
125                              The Imitation Game
128                                       Gone Girl
138                        The Grand Budapest Hotel
370                                       Inception
599                                 The Dark Knight
872                                     The Pianist
1081  The Lord of the Rings: The Return of the King
1183                        The Wolf of Wall Street
1191                               12 Years a Slave
1800                                        Memento

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [111]:
from itertools import combinations

cast_combination = {}

for i in range(0, len(data)):
    cast = data['cast'][i].split('|')
    cast_combo = list(combinations(cast, 2))
                      
    for combo in cast_combo:
        if combo in cast_combination:
            cast_combination[combo] += 1
        else:
            cast_combination[combo] = 1                   

cast_combination_sorted = sorted(cast_combination.items(), key=lambda x: x[1], reverse=True)
cast_combination_sorted[0]

answers['27'] = 'Daniel Radcliffe & Rupert Grint'

(('Daniel Radcliffe', 'Rupert Grint'), 8)

# Submission

In [175]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '24': 'Universal Pictures'}

In [176]:
# и убедиться что ни чего не пропустил)
len(answers)

9